.ac-select-wrapper {
    display: inline-block;
    position: relative;
}

    .ac-select-wrapper, .ac-select-wrapper input, .ac-select-wrapper select {
        background-color: inherit;
        /*font-family: Arial;*/
        /*font-size: 12px;*/
        /*background-color: white;*/
    }

.ac-select-main {
    cursor: pointer;
    height: 26px;
    vertical-align: middle;
    padding-left: 2px;
    overflow: hidden;
    border: 1px solid rgb(228, 228, 228);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #F9F9F9 30%, #FFFFFF 40%, #FFFFFF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #F9F9F9 30%, #FFFFFF 40%, #FFFFFF 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #F9F9F9 30%, #FFFFFF 40%, #FFFFFF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F9), color-stop(0.30, #F9F9F9), color-stop(0.4, #FFFFFF), color-stop(1, #FFFFFF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #F9F9F9 30%, #FFFFFF 40%, #FFFFFF 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #F9F9F9 0%, #F9F9F9 30%, #FFFFFF 40%, #FFFFFF 100%);
}

.ac-select:focus, .ac-select-main:focus, .ac-select-table:focus {
    outline-color: transparent;
}

.ac-select-main-closed {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ac-select-main-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ac-select-table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-right: 1px;
    min-width: 150px;
    padding-left: 2px;
    width: 100%;
    /*min-width: 150px;*/
}

.ac-select-display {
    padding-left: 3px;
    vertical-align: middle;
}

.ac-select-display span {
    padding-left: 4px;
}

.ac-select-table tr:first-child{
    height: 24px;
}

.ac-select-table td {
    white-space: nowrap;
}

.ac-select-widener td {
    /*visibility: hidden;*/
    padding: 0px;
}

td.ac-select-longest {
    padding-right: 4px;
}

/*td.ac-select-image {
    background-position: -1px 1px;
    vertical-align: bottom;
    background-image: url('../images/dropdown.png');
    background-repeat: no-repeat;
    height: 26px;
    width: 19px !important;
    cursor: pointer;
    margin-bottom: 0px;
}*/

td.ac-select-image {
    margin-left: 2px;
    padding-right: 18px;
    cursor: pointer;
    position: relative;
}

    td.ac-select-image:before {
        content: "";
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: visible;
        right: 8px;
        top: 44%;
        position: absolute;
        opacity: .3;
        margin-top: 0;
        border-bottom: none;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
    }


div.ac-select-popup {
    position: absolute;
    top: 22px;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 99999999;
    background-color: white;
    padding-top: 2px;
    padding-left: 2px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.ac-select-list {
    overflow: auto;
    margin-bottom: 1px;
     
}

div.ac-select-no-items {
    padding-left: 3px;
}

.ac-select-text-wrapper {
    padding: 0px;
    padding-left: 7px;
}

.ac-select-text {
    padding-left: 2px;
    width: 100%;
    margin-left: -4px;
    margin-right: -6px;
    border-width: 0px !important;
}

    .ac-select-text:focus {
        outline: none;
    }

.ac-select-search-wrapper {
    padding: 0 6px;
    padding-bottom: 2px;
    margin-left: -2px;
    padding-left: 6px;
}

    .ac-select-search-wrapper table {
        width: 100%;
    }

.ac-select-search {
    padding-left: 2px;
    width: 100%;
    margin-left: -3px;
}

td.ac-select-add {
    cursor: pointer;
    width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.ac-select-add div {
    border: 1px solid transparent;
    margin: 4px;
    width: 16px;
    line-height: 16px;
}

    .ac-select-add div:hover {
        border: 1px solid #4A8ED9;
        /*background-color: #f0f0f0;*/
    }

.ac-select-disabled {
    color: #c0c0c0;
    cursor: pointer;
}

.ac-select-highlight, div.ac-select-list:hover .ac-select-highlight:hover, .ac-select-popup li:hover {
    background-color: #4A8ED9;
    color: white;
}

div.ac-select-list:hover .ac-select-highlight {
    background-color: inherit;
    color: inherit;
}

.ac-select-popup ul {
    cursor: pointer;
    padding: 3px 0px 3px 0px;
    margin: 0;
    text-align: left;
    list-style: none;
    width: 100%;
}

.ac-select-popup li {
    padding-left: 3px;
    margin-right: 3px;
    margin-left: 3px;
    white-space: nowrap;
}
 
.ac-select-load-more {
    color: #808080;
    width: 97%;
    margin: 3px 6px 3px 6px;
    line-height: 18px;
    border-top: 1px solid #d0d0d0;
}

.ac-select-loading {
    padding-left: 6px;
    color: #808080;
}

.ac-select-load-more span {
    cursor: pointer;
    padding-left: 12px;
}
